<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/NavbarStyles.css">
    <link rel="stylesheet" href="../assets/styles/StyleForms.css">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
     <!-- CSS personalizado -->
     <link rel="stylesheet" href="../assets/main.css">

    <title>Notas</title>
</head>

<body>
    <nav class="nav-bar ver  ">
        <ul class="menu">
           <a href="../index.html"> <li> <img src="../assets/icons/home 1.svg" alt="Icono Incio"> INICIO</li></a>
            <a href="maestros.html"><li> <img src="../assets/icons/aula 1.svg" alt="Icono Maestros"> DOCENTES</li></a>
            <a href="materias.html"><li> <img src="../assets/icons/libro 1.svg" alt="Icono Materias"> MATERIAS<ul class="submenu">
                <li><a href="asignar_materia_profesor.html"> Docente</a></li>
                <li><a href="asignar_materia_alumno.html"> Alumno</a></li>
                </ul></li></a>
            <a href="alumnos.html"><li> <img src="../assets/icons/sombrero-de-graduacion 1.svg" alt="Icono Alumnos"> ALUMNOS</li></a>
            <a href="notas.html"><li> <img src="../assets/icons/los-grados 1.svg" alt="Icono Notas"> NOTAS</li></a>
            <a href="periodos.html"><li> <img src="../assets/icons/calendar.svg" alt="Icono Periodo"> PERIODOS</li></a>
            <a href="reportes.html"><li> <img src="../assets/icons/lista-de-verificacion 1.svg" alt="Icono Reportes"> REPORTES</li></a>
            </ul> 
    </nav>
    <section class="seccionFormulario">
        <h1 class="tituloForm">Agregar Nota</h1>
        <form class="frm">
            <div class="contenedorInputs">
                    <div class="formulario__grupo" id="grupo__nombre">
                    <label for="estudiante" class="formulario__label">Nombre del Estudiante:</label>
                    <select id="estudiante" class="formulario__input">
                        <option>Selecione...</option>
                    </select>
                </div>
                <div class="formulario__grupo" id="grupo__materia">
                    <label for="materia" class="formulario__label">Materia:</label>
                    <select id="materia" class="formulario__input">
                        <option>Selecione...</option>
                    </select>
                </div>
                <div class="formulario__grupo" id="grupo__periodo">
                    <label for="Periodo" class="formulario__label">Periodo: </label>
                    <select id="Periodo" class="formulario__input">
                        <option>Selecione...</option>
                    </select>
                </div>
                <div class="formulario__grupo" id="grupo__nota">
                    <label for="nota" class="formulario__label">Nota a Asignar:</label>
                    <div class="formulario__grupo-input">
                    <input type="number" id="nota" class="formulario__input" name="nota" placeholder="Escribe la nota a asignar">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La nota debe tener un solo digito y maximo puede ser 5</p>
                </div>
            </div>
            <div class="buttons formulario__grupo formulario__grupo-btn-enviar">
                <input type="submit" class="formulario__btn" value="Agregar" id="ButtonAdd"> 
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado con Exito!!</p>
        </form>
        <hr>
    </section>

    <section class="seccionTabla">
        <div class="encabezadoTabla">
            <h1 class="tituloTabla">Gestionar Notas</h1>
            <div>
                <input class="form-control col-md-6 light-table-filter" data-table="order-table" type="text"
                    placeholder="Buscar..." id="BuscarId">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered order-table  " style="width:100%">
                        <thead class="theadNotas"></thead>
                        <tbody class="tbodyNotas">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--  MODAL EDITAR NOTAS  -->

    <div class="modalUpdate">
        <div class="headerModal">
            <h2>Editar Nota</h2>
            <input type="button" value="X" class="cerrar" id="ButtonCloseEditar" onclick="CloseUpdate()">
        </div>
            <form class="frmEditar">
                <div class="contenedorInputsEditar">
                    <div>
                        <input type="hidden" id="idnota">
                        <label for="nombre">Nombre Del Alumno:</label>
                        <input type="text" id="nombreEditar" readonly>
                        
                        <label for="materia">Materia:</label>
                        <input type="text" id="materiaEditar" readonly>
                    </div>
                    <div>
                        <label for="periodo">Periodo:</label>
                        <select id="seleccionPeriodo">
                            <option>Selecione...</option>
                        </select>
                        <label for="nota">Nota:</label>
                        <input type="number" id="EditarNota"  placeholder="Digite la nota">
                    </div>
                </div> 
                <div class="buttonsEditar">
                    <input type="button" value="Guardar Cambios" class="guardarCambios"id="ButtonEditar"> 
                </div>
            </div>
</body>

</html>
<script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script>
<script src="../assets/JavaScript/Notas.js"></script>
<script src="../assets/JavaScript/Validar.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="../assets/JavaScript/modalMateria.js"></script>
<script src="../assets/JavaScript/Buscar.js"></script>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="../assets/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/popper/popper.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
