<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/reporte.css">
    <title>Reporte Estudiante</title>
</head>
<body>
    <header>
        <h1>REPORTE FINAL</h1>
    </header>
    <section class="datosAlumno"> 
        <div class="nombreAlumnContent">
            <h3>Nombre completo del alumno:</h3>
            <p id="NombreEstudiante">NOMBRE COMPLETO</p>
        </div>
        <div>
            <h3>Identificación:</h3>
            <p id="identificacion">IDENTIFICACIÓN</p>
            <h3>Tipo de Documento:</h3>
            <p id="tipoDocumento">FF</p>
        </div>
    </section>
    <section class="SectionTablaReporte">
        <table class="TablaReporte">

            
        </table>
        <button class="buttonImprimir" onclick="Imprimir()">Imprimir</button>
    </section>
    <script src="../assets/JavaScript/VerReporte.js"></script>
</body>
</html>