.nav-bar {
	background-color: #023859;
	color: #f2f2f2;
	position: fixed;
	left: 0;
	height: 100%;
	width: 15%;
}
.nav-bar ul {
	padding: 30%;
	padding-top: 10px;
}
.img:hover{
	color:#f2f2f2;
}
ul{
	color: #F2F2F2;
	text-decoration: none;
}
a{
	color: #F2F2F2;
	text-decoration: none;
}
li{
	color: #F2F2F2;
	text-decoration: none;
}
a:hover{
		text-decoration: none;
		color: #F2F2F2;
}
li:hover{
	text-decoration: none;
	color: #F2F2F2;
}
.menu{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.nav-bar ul li {
	list-style: none;
	position: relative;
	margin: 10px 0;
	width: 100%;
	margin-top: 15px;
	font-size: 1.1vw;
}
.nav-bar ul li img {
	vertical-align: middle;
	margin-right: 2%;
	width: 60%;
	height: 40px;
}
.nav-bar a {
	text-decoration: none;
	color: #f2f2f2;
}
.nav-bar a :hover {
	border-bottom: 1px solid #f2f2f2;
}
.hamburguesa {
	display: none;
}
.submenu {
	background: transparent;
	display: none;
}
.submenu li a {
	display: block;
	color: #f2f2f2;
}
.menu li:hover .submenu {
	display: block;
}

@media (max-width: 600px) {

	ul {
		margin: 0;
	}
	.hamburguesa {
		position: relative;
		display: block;
		width: 8%;
		height: 10%;
		z-index: 3;
		color: #023859;
	}

	.nav-bar ul li  > img {
		margin-left: 0;
		width: 50px;
		margin-left: 35%;
	}

ul a {
		padding: 10px;
		box-sizing: content-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 3.5vw;
		text-align: center;

	}

.nav-bar {
		background-color: #023859;
		color: #f2f2f2;
		position: static;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;
	}
.ver {
		display: none;
	}
.hidden {
		display: block;
	}
.nav-bar ul li {
		display: flex;
		flex-direction: column;
		font-size: 18px;
	}
.asignar {
		width: 10%;
}
}
.menu li:hover .submenu{
display:block;
stroke-dashoffset: 1;
}


.tituloTabla{
    position: relative;
    left: 15%;
}

