*{
    outline: none;
    text-align: center;
}
body{
    margin: 0;
    font-family: Roboto;
    color: #0D0D0D;
    
}
.seccionFormulario{
    top: 41px;
    position: absolute;
    left: 20%;
    width: 75%;
    
}
.formulario__label{
    display:block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 3px;
    height: 50px;
    width: 250px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario__input-error{
    font-size: 13px;
    margin-bottom: 0;
    display:none;
}
.formulario__input-error-activo{
    color:#bb2929;
    display:block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 65px;
    bottom: 19px;
    z-index: 100;
    font-size: 16px;
    opacity:0;
}
.documento{
    position: absolute;
    left: 215px;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje p{
    margin:0;
}
.formulario__grupo-btn-enviar{
    display:flex;
}
.formulario__btn{
    cursor: pointer;
}
.formulario__mensaje-exito{
    font-size: 13px;
    font-weight: 700;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
/* Estilos para validaciones */
.porcentaje{
    display: none;
}
.formulario__grupo-correcto .formulario__validacion-estado{
    position: absolute;
    right: 10px;
    color:#1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    top: 18px;
    right: 40px;
    color: #bb2929;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label{
color: #bb2929;
}
.fa-times-circle:before{
    position:absolute;
}
.formulario__grupo-incorrecto .formulario__input{
    position:relative;
    border: 3px solid #bb2929;
}
.tituloForm{
    color: #023859;
    margin-top: 0;
}
.contenedorInputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contenedorInputs select{
    padding: 5px  5% ;
    margin: 2px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   font-size: 1vw;
}
.buttons input{
    margin: auto;
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #023859;
    color: #f2f2f2;
    cursor: pointer;
}
.seccionTabla {
    position: absolute;
    top: 50%;
    left: 18%;
    width: 80%;
    overflow: scroll;
    overflow-x: hidden;
}
.encabezadoTabla{
    background-color: #023859;
    display: flex;
    padding: 2%;
}
.tituloTabla{
    width: 100%;
    margin-left: 8%;
    color: #f2f2f2;
}
.encabezadoTabla div{
    width: 80%;
    text-align: right;

}
#BuscarId{
    width: 50%;
    margin: 19.92px 0px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 72px;
    border: none;
    font-size: 1vw;
    position: relative;
    left: 50%;
    bottom: 10px;
}
.tablaAlumnos thead{
    color: #023859;
}
.tablaAlumnos th,td{
    padding: 0% 4%;
    
}
.buttonEditar,.buttonEliminar{
    padding: 5px 20px;
    margin: 0px 10px;
    cursor: pointer;
    border: none;
    color: #F2F2F2;
    border-radius: 5px;
}
.buttonEditar{
    background-color: #023859;
}
.buttonEliminar{
    background-color: #e9312a;
}
th{
    font-size: 1.3vw;
}
.modalUpdate{
    background-color: #FFFFFF;
    position: absolute;
    min-width:30%;
    top: 30%;
    left:30%;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: none;
}
.headerModal{
    background-color: #023859;  
    padding:20px;
    display: flex;
    text-align:center; 
    justify-content: center; 
    border-radius: 10px 10px 0px 0px;
}
.headerModal h2{
    margin:0;
    color: #F2F2F2F2;
}
.cerrar{
    position: absolute;
    right: 5px;
    top: 3px;
    border-radius: 3px;
    border-color: #f2f2f2;
    width:25px;
    height: 25px;
}
.frmEditar{
    padding: 30px;
}
.contenedorInputsEditar{
    display: flex;
    justify-content:space-around;
}

.contenedorInputsEditar input,.contenedorInputsEditar select{
    padding: 5px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttonsEditar{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guardarCambios{
    background-color: #023859;
    color: #f2f2f2;
    width: 50%;
    height: 50px;
}
#ButtonCloseEditar{
    background-color: #df150e;
    color: #F2F2F2;
}

.card{
padding: 3%;
}

@media (max-width: 600px) {
    
.formulario__input{
    height: 30px;
}

    .tablaAlumnos {
       display: block;
       overflow-x: auto;
     }
    .contenedorInputs{
    display: block;
    justify-content:space-between;
    margin-bottom: 30px;
}
.contenedorInputs select{
    padding: 5px 5%;
    margin: 8px 0;
    display: block;
    width: 100%;
    font-size: 13px;

}
#Formulario{
    margin: 20px;
    position: relative;
    width: 80%;
}
.seccionTabla{
    position: relative;
    top:500px;
    left: 1%;
    width: 100%;
}
#BuscarId{
    display:none;

}

#ButtonAdd{
padding: 2px 10px;
box-sizing: inherit;
}
.tituloTabla{
    width: 136%;
    color: #f2f2f2;
    font-size: 16px;
}
.encabezadoTabla{
    display: flex;
    justify-content: center;
}

.tablaAlumnos th,td{
padding: 12px 20px;

}
th, td {
    font-size:12px;
    justify-items: center;

}

.tdBoton{
    display: flex;
    flex-direction: column ;
    text-align: center;
}

button{
display: flex;
flex-direction: column;
align-items: center;
width: 60%;
}









}